!!! 5
%html{"ng-app" => ""}
  %head
    %link{ rel: "stylesheet", href: "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" }  
  
  %body
    .container
      = yield

    = javascript_include_tag "all"
    %script{ src: "https://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js", type: "text/javascript" }
