.container-fluid
  .row
    .col-md-2
      Search:
      = input_tag "text", class: "demo", "ng-model" => "query"
      %br
      Sort by:
      %select{ "ng-model" => "orderProp" }
        %option{ value: 'name' } Alphabetical
        %option{ value: 'age' } Newest
    .col-md-10
      %ul.phones
        %li.thumbnail{"ng-repeat" => "phone in phones | filter:query | orderBy:orderProp"}
          %a{ href: "#/phones/{{phone.id}}", class: "thumb" }
            %img{ "ng-src" => "images/{{phone.imageUrl}}" }
          %A{ href: "#/phones/{{phone.id}}" }
            {{phone.name}}  
          %p {{phone.snippet}}
